{% extends 'base.html' %}

{% block content %}
{% load static %}
		<script>
		function _submit()
		{
			var arrival = document.getElementById('arrival').value;
			var transfer = document.getElementById('transfer').value
			if (arrival.substr(0,2) === transfer.substr(0,2)) {
				alert('서로 다른 노선이어야 합니다.');
				return;
			}
			
			window.location.href = "imae-weekday-" + arrival + "-" + transfer + ".html";
		}
		</script>

				<!-- One -->

				<section class="wrapper style1 align-center">
					<div class="inner index align-left">
						<section>
							<header>
							<h3>방향 선택</h3>
							</header>
							<div class="content">
								<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="arrival">타고 온 열차</label>
										<select name="arrival" id="arrival">
											<option value="sbu" selected>수인분당선 왕십리 방면 열차</option>
											<option value="sbd">수인분당선 고색/인천 방면 열차</option>
											<option value="ggu">경강선 판교 방면 열차</option>
											<option value="ggd">경강선 여주 방면 열차</option>
										</select>
									</div>
									<div class="field">
										<label for="transfer">환승해서 탈 열차</label>
										<select name="transfer" id="transfer">
											<option value="sbu" selected>수인분당선 왕십리 방면 열차</option>
											<option value="sbd">수인분당선 고색/인천 방면 열차</option>
											<option value="ggu">경강선 판교 방면 열차</option>
											<option value="ggd">경강선 여주 방면 열차</option>
										</select>
									</div>
								</div>
								<ul class="actions">
									<li><input type="button" name="button" id="button" onclick="_submit()" value="확인" /></li>
								</ul>
								</form>
							</div>
						</section>
					</div>
				</section>
{% endblock content %}