{% extends 'base.html' %}

{% block content %}
{% load static %}
				<script>
				function _submit()
				{
					var arrival = document.getElementById('arrival').value;
					var transfer = document.getElementById('transfer').value;
					if (arrival.substr(0,2) === transfer.substr(0,2)) {
						alert('서로 다른 노선이어야 합니다.');
						return;
					}
					
					window.location.href = arrival + "/" + transfer + "/";
				}
				</script>
				<!-- One -->

				<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
					<div class="content">
						<h3>방향 선택</h3>
						<form method="post" action="#">
							<input type="hidden" id="station" name="station" value="{{ station }}">
							<input type="hidden" id="workweek" name="workweek" value="{{ workweek }}">
							<div class="fields">
								<div class="field">
									<label for="arrival">타고 온 열차</label>
									<select name="arrival" id="arrival">
										{% for train in arrival_list %}
										<option value="{{ train.code }}" {% if train.selected %}selected{% endif %}>{{ train.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="field">
									<label for="transfer">환승해서 탈 열차</label>
									<select name="transfer" id="transfer">
										{% for train in transfer_list %}
										<option value="{{ train.code }}" {% if train.selected %}selected{% endif %}>{{ train.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<ul class="actions">
								<li><input type="button" name="button" id="button" onclick="_submit()" value="확인" /></li>
							</ul>
						</form>
						<blockquote>
							이 사이트는 지도 앱/사이트가 제공하지 않는 기능을 보완하기 위해 만들어진 사이트입니다.<br/>
							만약 환승 연계 시간표가 아닌 <strong>일반적인 역 시간표</strong>를 찾으신다면,
							<a href="https://m.map.naver.com/subway/subwayLine.naver?region=1000">네이버 지도</a>,
							<a href="https://map.kakao.com/">카카오맵</a>,
							지하철종결자 앱 (
							<a href="https://apps.apple.com/kr/app/%EC%A7%80%ED%95%98%EC%B2%A0-%EC%A2%85%EA%B2%B0%EC%9E%90-smarter-subway/id580488128">아이폰</a>,
							<a href="https://play.google.com/store/apps/details?id=teamDoppelGanger.SmarterSubway&hl=ko&gl=US">안드로이드</a>
							) 등을 이용해주세요.
						</blockquote>
					</div>
					<div class="image">
						<img src="{% static map_image %}" alt="" />
					</div>
				</section>
{% endblock content %}