{% extends 'base.html' %}

{% block content %}
{% load static %}
				<!-- One -->

				<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
					<div class="content">
						<h1>시간대 선택</h1>
						<h3>아래 {{ workweek_list|length }}가지 중 하나를 선택하세요.</h3>
						<br>
						<ul class="actions">
							{% for week in workweek_list %}
							<li><a href="{{ week.href }}" class="button {% if week.primary %}primary{% endif %}">{{ week.name }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="image">
						<img src="{% static 'images/calendar.jpg' %}" alt="" />
					</div>
				</section>
{% endblock content %}